/* Noto Serif KR - local (korean) */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(noto-serif-kr-korean-400-normal.woff2) format('woff2');
}
